@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media(min-width: 1220px) {
  .bgMain {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-16 bg-softBlue;
  }
  .bgTabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;

  }
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%)
  hue-rotate(326deg) brightness(101%) contrast(96%)
}